.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    
}
.countryCard{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.countryCard img{
    width: 150px;
    height: auto;
}
